<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
    <style>
        .pom-agile {
            width: 80%; /* Điều chỉnh độ rộng của khung nhập văn bản */
            margin: 0 auto; /* Đưa vào giữa trang */
            margin-bottom: 20px; /* Khoảng cách dưới */
        }

            .pom-agile input {
                width: 100%; /* Điều chỉnh chiều rộng của ô nhập văn bản bên trong */
                padding: 10px; /* Khoảng cách lề bên trong */
                box-sizing: border-box; /* Tính cả kích thước của đường viền */
            }
    </style>
</head>
<body>
    <!-- main -->
    <div class="center-container">
        <!--header-->
        <div class="header-w3l">
            <h1>Online Login Form</h1>
        </div>
        <!--//header-->
        <div class="main-content-agile">
            <div class="sub-main-w3">
                <div class="wthree-pro">
                    <h2>Login Quick</h2>
                </div>
                <form action="@Url.Action("dangnhap", "trangchu")" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="pom-agile">
                        <input placeholder="ID NGƯỜI DÙNG" name="employeeID" class="user" type="text" pattern="[0-9]*" inputmode="numeric" required="">
                        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div class="pom-agile">
                        <input placeholder="MẬT KHẨU" name="password" class="pass" required="">
                        <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    </div>
                    <div class="sub-w3l">
                        <h6><a href="~/trangchu/dangky">đăng ký</a></h6>
                        <div class="right-w3l">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <!--//footer-->
    </div>
</body>
</html>
